#gamePane {
  -fx-background-image: url("../images/game.jpg");
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-background-color: black;
}

.card-back {
  -fx-image: url("../images/card/Back.png");
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0.5, 0, 2);
  -fx-cursor: hand;
  -fx-scale-x: 1.0;
  -fx-scale-y: 1.0;
}
.card-back:hover {
  -fx-scale-x: 1.05;
  -fx-scale-y: 1.05;
}
.avatar-image {
  -fx-image: url("../images/avatar.png");
  -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5), 8, 0.5, 0, 2);
  -fx-background-radius: 50%;
  -fx-border-radius: 50%;
}

.label-player-name {
  -fx-font-size: 18px;
  -fx-font-weight: bold;
  -fx-text-fill: white;
  -fx-effect: dropshadow(gaussian, black, 3, 0.3, 0, 0);
}
#exitButton {
  -fx-background-color: rgba(255, 255, 255, 0.2);
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-background-radius: 8;
  -fx-border-color: white;
  -fx-border-radius: 8;
  -fx-cursor: hand;
}
#exitButton:hover {
  -fx-background-color: rgba(255, 255, 255, 0.4);
}

#score1Label, #score2Label {
  -fx-background-color: rgba(0, 0, 0, 0.6);
  -fx-background-radius: 10;

  -fx-text-fill: yellow;
  -fx-font-weight: bold;
  -fx-font-size: 24px;

  -fx-padding: 5px 15px;
  -fx-border-color: rgba(255, 255, 255, 0.5);
  -fx-border-radius: 10;
  -fx-border-width: 1px;

  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0, 0, 1);
}