#HistoryPane {
  -fx-background-image: url('../images/login.jpg');
  -fx-background-size: cover;
  -fx-background-position: center;
}

.player-list-view {
  -fx-background-color: rgba(60, 60, 60, 0.7);
  -fx-background-radius: 15;
  -fx-padding: 25;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 15, 0, 0, 3);
  -fx-border-color: rgba(255,255,255,0.2);
  -fx-border-radius: 15;
}